.app {
    text-align: center;
}
.barnCard {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: auto; */
    margin-top: 40px;
}
.card {
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 80vh;
    text-align: center;
    border-radius: 8px;
    padding: 10px 0 5px 0;
}
.card h1 {
    /* font-size: 10px; */
    width: 50%;  
    font-size: 20px;
    padding: 0;
}
.cardContent {
padding: 10px;
width: 50%;
background-color: cadetblue;
margin: 10px 20px 0 0;
}
.cardContent input {
    width: 12rem;
    height: 30px;
}
.CardButtons {
    margin: 10px 0;
    display: flex;
    gap: 5px;
    justify-content: space-between;
    align-items: center;
}
.CardButtons>:nth-child(1) {
    background-color: red;
    border: none;
    color: white;
}
.CardButtons>:nth-child(3) {
    background-color: green;
    border: none;
    color: white;

}
.cardHistorique {
    background-color: brown;
    width: 40%;
    height: 80vh;
    text-align: center;
    border-radius: 8px;
    padding: 10px 0 5px 0;
}
button {
    padding: 5px 20px;
}